@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import './config.scss';
@import './login.scss';

html {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}

